*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}

.container{ 
    width: 1200px;
 overflow: hidden;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 50px;
}

.headerList{
    display: flex;
    justify-content: space-between;
    gap: 25px;
   
    
}

.headerList li{
    list-style: none;
}

.get-started{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.get-started-left{
    width: 40%;
}

.get-started-left-heading{
    margin-bottom: 20px;
}

.get-started-left-paragraph{
    line-height: 25px;
}

.get-started-right{
    width: 50%;
     
 }
 
 .get-started-right img{
    width: 100%;
 }
.form-area {
    margin-top: 2rem;
}
 .form-input1 {
    width: 40%;
}

form{ 
    display: flex;
    gap: 20px;
    }




.stay-productive {
    margin-top: 128px;
    justify-content: space-between;
    width: 100%;
   
}
.stay-productive-left{
    margin-bottom: 30px;
    width: 60%;

   }
.stay-productive-right{ 
  width: 50%;
  }


.stay-productive-right img{
  width: 100%;
  }
.productive-top {
    width: 100vw;
    max-width: 100%;
    height: auto;
    display: block;
}
.content-wrapper {
    background-color: #f7fafc;
    padding-bottom: 64px;
}
.stay-productive-left-heading {
    margin-bottom: 20px;
}
.stay-productive-left-paragraph {
    line-height: 25px;
}

.early-access {
    width: 100%;
    background-color: #4c51bf;
    padding-top: 64px;
    padding-bottom: 64px;
    color: #fff;
}
.early-access h1 {
    font-size: 30px;
    line-height: 1.25;
    font-weight: 700;
}

.early-access p {
    margin-top: 2rem;
}
.specific-button {
    background-color: #4299e1 !important;
    width: 40%;
}